/* Material Design CDN */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

#colorPicker {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

#colorRGB {
  font-size: 1.5em;
  color: #666;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--primary-text-color);
}

.theme-toggle:focus {
  outline: none;
}

/* ライトテーマ */
body.light {
  --primary-background-color: #ffffff;
  --primary-text-color: #000000;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* ダークテーマ */
body.dark {
  --primary-background-color: #000000;
  --primary-text-color: #ffffff;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* ドロップダウンメニューのスタイルを追加 */
#speedDropdown {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  text-align: center;
}

/* 輝度補正入力フィールドのスタイルを追加 */
input[type="number"] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* ライトテーマの補正入力フィールド */
body.light input[type="number"] {
  background-color: #f0f0f0;
  color: #000000;
}

/* ダークテーマの補正入力フィールド */
body.dark input[type="number"] {
  background-color: #333333;
  color: #ffffff;
}
