#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char *ssid = "Your-SSID";
const char *password = "Your-Password";

// 固定IPアドレスの設定（必要に応じて）
IPAddress local_IP(192, 168, 1, 184);
IPAddress gateway(192, 168, 1, 1);
IPAddress subnet(255, 255, 255, 0);
IPAddress primaryDNS(8, 8, 8, 8); // オプション: プライマリDNSサーバー
IPAddress secondaryDNS(8, 8, 4, 4); // オプション: セカンダリDNSサーバー

#endif // CREDENTIALS_H
